In [1]:
from pathlib import Path
import sqlite3
import pandas as pd

In [3]:
DB = Path("workshop2.db")
with sqlite3.connect(DB) as conn:
    df = pd.read_sql_query("SELECT * FROM trip LIMIT 20;", conn)
df.head()

,trip_id,month,vehicle_id,started_at,ended_at,DURATION,trip_ledger_id,user_id,start_location_name,end_location_name
0,1613335,May,9424537,5/21/2019 18:33,5/21/2019 18:40,0:07:03,1488546,8417864,"1901 Roma Ave NE, Albuquerque, NM 87106, USA","1899 Roma Ave NE, Albuquerque, NM 87106, USA"
1,1613639,May,9424537,5/21/2019 19:07,5/21/2019 19:12,0:04:57,1488838,8417864,"1 Domenici Center en Domenici Center, Albuquer...","1111 Stanford Dr NE, Albuquerque, NM 87106, USA"
2,1613708,May,9424537,5/21/2019 19:13,5/21/2019 19:15,0:01:14,1488851,8417864,"1 Domenici Center en Domenici Center, Albuquer...","1 Domenici Center en Domenici Center, Albuquer..."
3,1613867,May,9424537,5/21/2019 19:29,5/21/2019 19:36,0:06:58,1489064,8417864,"Rotunda at Science & Technology Park, 801 Univ...","725 University Blvd SE, Albuquerque, NM 87106,..."
4,1636714,May,8926493,5/24/2019 13:38,5/24/2019 13:41,0:03:06,1511212,35436274,"401 2nd St NW, Albuquerque, NM 87102, USA","401 2nd St NW, Albuquerque, NM 87102, USA"

In [13]:
import sqlite3
sqlite3.version

C:\Users\HP\AppData\Local\Temp\ipykernel_12636\1434187163.py:2: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  sqlite3.version

'2.6.0'

In [53]:
sqlite3.sqlite_version

'3.45.3'

In [117]:
conn = sqlite3.connect("workshop2.db")

In [119]:
cursor = conn.cursor()

In [121]:
cursor.execute("SELECT * FROM trip")
result = cursor.fetchall()
print(result[:5])
print()
cursor.execute("SELECT * FROM trip WHERE LOWER(month) == 'may' LIMIT 5")
result = cursor.fetchall()
print(result[:5])
print()
cursor.execute("SELECT * FROM trip WHERE user_id == 8417864 LIMIT 5")
result = cursor.fetchall()
print(result[:5])
conn.close()

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1636714, 'May', 8926493, '5/24/2019 13:38', '5/24/2019 13:41', '0:03:06', '1511212', 35436274, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA')]

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1636714, 'May', 8926493, '5/24/2019 13:38', '5/24/2019 13:41', '0:03:06', '1511212', 35436274, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA')]

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1681624, 'May', 8192169, '5/27/2019 1:11', '5/27/2019 1:11', '0:00:12', '1554217', 8417864, '2513 Comanche Rd NE, Albuquerque, NM 87107, USA', '2513 Comanche Rd NE, Albuquerque, NM 87107, USA')]

In [21]:
help(conn.cursor())

Help on Cursor in module sqlite3 object:

class Cursor(builtins.object)
 |  SQLite database cursor class.
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  close(self, /)
 |      Closes the cursor.
 |
 |  execute(self, sql, parameters=(), /)
 |      Executes an SQL statement.
 |
 |  executemany(self, sql, seq_of_parameters, /)
 |      Repeatedly executes an SQL statement.
 |
 |  executescript(self, sql_script, /)
 |      Executes multiple SQL statements at once.
 |
 |  fetchall(self, /)
 |      Fetches all rows from the resultset.
 |
 |  fetchmany(self, /, size=1)
 |      Fetches several rows from the resultset.
 |
 |      size
 |        The default value is set by the Cursor.arraysize attribute.
 |
 |  fetchone(self, /)
 |      Fetches one row from the resultset.
 |
 |  setinputsizes(self, sizes, /)
 |      Required by DB-API. Does nothing in sqlite3.
 |
 |  setoutputsize(self, size, column=None, /)
 |      Required by DB-API. Does nothing in sqlite3.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  arraysize
 |
 |  connection
 |
 |  description
 |
 |  lastrowid
 |
 |  row_factory
 |
 |  rowcount