In [ ]:
# Python 3.10.12 +
# SQLite Version 3.37.2

In [3]:
!python --version

Python 3.12.3

In [7]:
import sqlite3
sqlite3.sqlite_version

'3.45.3'

# WORKSHOP TRIAL

In [15]:
conn = sqlite3.connect('coursework2.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('geocode',), ('sqlite_sequence',), ('location',), ('trip',)]

In [19]:
cursor.execute("SELECT * FROM trip")
result = cursor.fetchall()
print(result[:5])
print()
cursor.execute("SELECT * FROM trip WHERE LOWER(month) == 'may' LIMIT 5")
result = cursor.fetchall()
print(result[:5])
print()
cursor.execute("SELECT * FROM trip WHERE user_id == 8417864 LIMIT 5")
result = cursor.fetchall()
print(result[:5])
conn.close()

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1636714, 'May', 8926493, '5/24/2019 13:38', '5/24/2019 13:41', '0:03:06', '1511212', 35436274, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA')]

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1636714, 'May', 8926493, '5/24/2019 13:38', '5/24/2019 13:41', '0:03:06', '1511212', 35436274, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA')]

[(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA'), (1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA'), (1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA'), (1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA'), (1681624, 'May', 8192169, '5/27/2019 1:11', '5/27/2019 1:11', '0:00:12', '1554217', 8417864, '2513 Comanche Rd NE, Albuquerque, NM 87107, USA', '2513 Comanche Rd NE, Albuquerque, NM 87107, USA')]

# DATA EXPLORATION

In [ ]:
# 1

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables:", tables)

# Inspect column names for each table
for table in tables:
    table_name = table[0]
    print(f"\n--- Columns in {table_name} ---")
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    for col in columns:
        print(col[1])
conn.close()

# The schema here is more normalized — data about trips, locations, and geocodes are stored in separate tables, which improves organization 
# and avoids redundancy. The provided schema also includes foreign keys (like geocode_id and region_id), enabling better relational queries.

Tables: [('geocode',), ('sqlite_sequence',), ('location',), ('trip',)]

--- Columns in geocode ---
geocode_id
street
x
y

--- Columns in sqlite_sequence ---
name
seq

--- Columns in location ---
location_name
region_id
geocode_id

--- Columns in trip ---
trip_id
month
vehicle_id
started_at
ended_at
DURATION
trip_ledger_id
user_id
start_location_name
end_location_name

In [ ]:
# 2

In [12]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query_may = "SELECT * FROM trip WHERE LOWER(month) == 'may' LIMIT 5"

cursor.execute(query_may)
for row in cursor.fetchall():
    print(row)
    
conn.close()

(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA')
(1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA')
(1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA')
(1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA')
(1636714, 'May', 8926493, '5/24/2019 13:38', '5/24/2019 13:41', '0:03:06', '1511212', 35436274, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA')

In [ ]:
# 3

In [17]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query_user = "SELECT * FROM trip WHERE user_id == 8417864 LIMIT 5"

cursor.execute(query_user)
for row in cursor.fetchall():
    print(row)
    
conn.close()

(1613335, 'May', 9424537, '5/21/2019 18:33', '5/21/2019 18:40', '0:07:03', '1488546', 8417864, '1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA')
(1613639, 'May', 9424537, '5/21/2019 19:07', '5/21/2019 19:12', '0:04:57', '1488838', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA')
(1613708, 'May', 9424537, '5/21/2019 19:13', '5/21/2019 19:15', '0:01:14', '1488851', 8417864, '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA')
(1613867, 'May', 9424537, '5/21/2019 19:29', '5/21/2019 19:36', '0:06:58', '1489064', 8417864, 'Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA')
(1681624, 'May', 8192169, '5/27/2019 1:11', '5/27/2019 1:11', '0:00:12', '1554217', 8417864, '2513 Comanche Rd NE, Albuquerque, NM 87107, USA', '2513 Comanche Rd NE, Albuquerque, NM 87107, USA')

In [ ]:
# 4

In [27]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query_1 = """SELECT start_location_name, COUNT(*) AS trip_count
FROM trip
GROUP BY start_location_name
ORDER BY trip_count DESC
LIMIT 5;"""

cursor.execute(query_1)
for row in cursor.fetchall():
    print(row)

print()
query_2 = """SELECT AVG(duration) AS avg_duration
FROM trip;"""

cursor.execute(query_2)
for row in cursor.fetchall():
    print(row)

print()
query_3 = """SELECT trip_id, duration, start_location_name, end_location_name
FROM trip
ORDER BY duration DESC
LIMIT 5;"""

cursor.execute(query_3)
for row in cursor.fetchall():
    print(row)
    
conn.close()

('1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 1210)
('Central @ Tingley, Albuquerque, NM 87104, USA', 920)
('2550 Central Ave NE, Albuquerque, NM 87106, USA', 848)
('2901 Central Ave NE, Albuquerque, NM 87106, USA', 734)
('330 Tijeras Ave NW, Albuquerque, NM 87102, USA', 671)

(0.15932332145152808,)

(1764089, '99:13:14', '2550 Central Ave NE, Albuquerque, NM 87106, USA', '')
(1768579, '97:43:49', '2500 Central Ave SE, Albuquerque, NM 87106, USA', '')
(1779171, '95:48:13', '401 3rd St NW, Albuquerque, NM 87102, USA', '')
(2371993, '8:28:00', '1st St NW @, Central Ave NW, Albuquerque, NM 87102, United States', '')
(1778763, '7:52:29', '313 Gold Ave SW, Albuquerque, NM 87102, USA', '400 Gold Ave SW, Albuquerque, NM 87102, USA')

In [ ]:
# 5

In [ ]:
# SQL-based exploration is more efficient for structured data and large datasets. 
# Queries can be executed directly within the database, reducing memory usage and improving performance. 
# It also enforces data integrity through constraints and relationships.

# Python-based (CSV) exploration, using libraries like Pandas, is more flexible for data cleaning, visualization, 
# and quick manipulation. However, it’s less efficient for large datasets since all data must be loaded into memory.

# In summary:

# SQL advantages: speed, scalability, relational power.
# SQL disadvantages: less flexible for complex analysis or visualization.

# Python advantages: easy manipulation, integration with visualization libraries.
# Python disadvantages: memory limitations, slower for large datasets.

# DATA CLEANING

In [31]:
# 1

In [37]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query= """
UPDATE trip
SET duration = '00:00:00'
WHERE duration IS NULL OR duration = '';
"""

cursor.execute(query)
conn.commit()

cursor.execute("SELECT duration FROM trip LIMIT 5;")
print(cursor.fetchall())
conn.close()

[('0:07:03',), ('0:04:57',), ('0:01:14',), ('0:06:58',), ('0:03:06',)]

In [39]:
# 2

In [45]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query= """
UPDATE trip
SET end_location_name = 'Nothing Street'
WHERE end_location_name IS NULL OR end_location_name = '';
"""

cursor.execute(query)
conn.commit()

cursor.execute("SELECT end_location_name FROM trip LIMIT 5;")
print(cursor.fetchall())
conn.close()

[('1899 Roma Ave NE, Albuquerque, NM 87106, USA',), ('1111 Stanford Dr NE, Albuquerque, NM 87106, USA',), ('1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA',), ('725 University Blvd SE, Albuquerque, NM 87106, USA',), ('401 2nd St NW, Albuquerque, NM 87102, USA',)]

In [47]:
# 3

In [53]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Get geocode_id for "Nothing Street" from geocode table
cursor.execute("""
SELECT geocode_id FROM geocode
WHERE street = 'Nothing Street';
""")
result = cursor.fetchone()

# If "Nothing Street" does not exist, insert it first
if result is None:
    cursor.execute("""
    INSERT INTO geocode (street)
    VALUES ('Nothing Street');
    """)
    conn.commit()
    cursor.execute("""
    SELECT geocode_id FROM geocode
    WHERE street = 'Nothing Street';
    """)
    result = cursor.fetchone()

geocode_id = result[0]

# Now insert into location table using the dynamically retrieved id
cursor.execute("""
INSERT INTO location (location_name, geocode_id)
VALUES ('Nothing Street', ?);
""", (geocode_id,))

conn.commit()

# Verify
cursor.execute("SELECT * FROM location WHERE location_name = 'Nothing Street';")
print(cursor.fetchall())

conn.close()

[('Nothing Street', None, 11)]

In [43]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Select all rows from the location table
cursor.execute("SELECT * FROM location;")

# Fetch all rows
rows = cursor.fetchall()

# Print each row nicely
for row in rows:
    print(row)

# (Optional) Limit output to first 5 for readability
# cursor.execute("SELECT * FROM location LIMIT 5;")
# print(cursor.fetchall())

# Close connection
conn.close()

In [59]:
# 4

In [ ]:
# SQL-based data cleaning is efficient for structured data stored in relational databases. 
# It allows direct updates within the database without loading everything into memory, which is ideal for large datasets. 
# SQL’s declarative syntax makes updates and replacements concise and consistent.

# Python-based cleaning (e.g., using Pandas) is more flexible, allowing for complex transformations, regex operations, 
# and easy visualization of missing data. However, it can be slower and memory-intensive for large databases.

# Summary:

# SQL advantages: efficient, enforces constraints, handles large data, maintains integrity.
# SQL disadvantages: limited transformation capabilities, harder for complex cleaning logic.

# Python advantages: flexible, integrates well with analysis and visualization tools.
# Python disadvantages: slower and memory-heavy on large datasets.

# DATA ANALYSIS

In [66]:
# 1

In [45]:
import sqlite3
import pandas as pd
import numpy as np
from collections import Counter

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Select all rows from the location table
cursor.execute("SELECT * FROM location;")

# Fetch all rows
rows = cursor.fetchall()

# Print each row nicely
for row in rows:
    print(row)


# Close connection
conn.close()

In [92]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Get the shortest trip per (start, end)
cursor.execute("""
SELECT t.start_location_name,
       t.end_location_name,
       t.user_id,
       t.trip_id,
       t.duration,
       t.started_at
FROM trip t
JOIN (
    SELECT start_location_name, end_location_name, MIN(duration) AS min_dur
    FROM trip
    GROUP BY start_location_name, end_location_name
) m
ON t.start_location_name = m.start_location_name
AND t.end_location_name = m.end_location_name
AND t.duration = m.min_dur
LIMIT 5;
""")

rows = cursor.fetchall()

# Convert started_at to month using Python
formatted_rows = []
for row in rows:
    start_loc, end_loc, user_id, trip_id, duration, started_at = row
    try:
        month = datetime.strptime(started_at, "%m/%d/%Y %H:%M").month
    except Exception:
        month = None
    formatted_rows.append((start_loc, end_loc, user_id, trip_id, duration, month))

print(formatted_rows)
conn.close()

[('1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA', 8417864, 1613335, '0:07:03', 5), ('1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA', 8417864, 1613639, '0:04:57', 5), ('1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', 8417864, 1613708, '0:01:14', 5), ('Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA', 8417864, 1613867, '0:06:58', 5), ('520 Central Ave SW, Albuquerque, NM 87102, USA', '3217 Pershing Ave SE, Albuquerque, NM 87106, USA', 34352757, 1636780, '0:21:27', 5)]

In [76]:
# 2

In [86]:
import sqlite3

conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query = """
SELECT start_location_name,
       end_location_name,
       duration,
       AVG(
           CAST(substr(duration, 1, instr(duration, ':')-1) AS INTEGER) * 3600 +
           CAST(substr(duration, instr(duration, ':')+1, 2) AS INTEGER) * 60 +
           CAST(substr(duration, -2) AS INTEGER)
       ) AS avg_duration_seconds
FROM trip
GROUP BY start_location_name, end_location_name
LIMIT 5;
"""

cursor.execute(query)
print(cursor.fetchall())
conn.close()

[('', 'Nothing Street', '0:02:00', 420.0), ('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '125 2nd St SW, Albuquerque, NM 87102, USA', '0:09:00', 540.0), ('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', '0:06:00', 360.0), ('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '517 Gold Ave SW, Albuquerque, NM 87102, USA', '0:03:00', 180.0), ('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', 'Roma Avenue Northwest, at 2nd St NW, Albuquerque, NM 87102, United States', '0:29:00', 1740.0)]

In [88]:
# 3

In [94]:
import sqlite3
import statistics

conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query = """
SELECT start_location_name,
       end_location_name,
       duration
FROM trip
ORDER BY start_location_name, end_location_name;
"""

cursor.execute(query)
rows = cursor.fetchall()
conn.close()

# Organize by (start, end)
from collections import defaultdict
trip_dict = defaultdict(list)
for start, end, duration in rows:
    trip_dict[(start, end)].append(float(duration.split(':')[0])*3600 + float(duration.split(':')[1])*60 + float(duration.split(':')[2]))

# Calculate median per pair
for pair, durations in list(trip_dict.items())[:5]:  # just show 5 pairs for brevity
    med_seconds = statistics.median(durations)
    print(pair, med_seconds)

('', 'Nothing Street') 360.0
('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '125 2nd St SW, Albuquerque, NM 87102, USA') 540.0
('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA') 360.0
('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', '517 Gold Ave SW, Albuquerque, NM 87102, USA') 180.0
('(Albuquerque Convention Center) 2nd @ Marquette, Albuquerque, NM 87102, USA', 'Roma Avenue Northwest, at 2nd St NW, Albuquerque, NM 87102, United States') 1740.0

In [96]:
# 4

In [98]:
import sqlite3
import statistics

conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query = "SELECT start_location_name, end_location_name, user_id, trip_id, duration FROM trip;"
cursor.execute(query)
rows = cursor.fetchall()
conn.close()

# Organize by pair
from collections import defaultdict
trip_dict = defaultdict(list)
for start, end, user_id, trip_id, duration in rows:
    secs = float(duration.split(':')[0])*3600 + float(duration.split(':')[1])*60 + float(duration.split(':')[2])
    trip_dict[(start, end)].append((user_id, trip_id, secs))

# Detect outliers
outliers = []
for pair, data in trip_dict.items():
    durations = [x[2] for x in data]
    if len(durations) < 2:
        continue
    mean = statistics.mean(durations)
    stdev = statistics.stdev(durations)
    for user_id, trip_id, dur in data:
        if dur > mean + 2*stdev or dur < mean - 2*stdev:
            outliers.append((pair[0], pair[1], user_id, trip_id, dur))

print(outliers[:5])  # first 5 outliers

[('401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 36149692, 1790039, 4140.0), ('401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 42232037, 2004771, 4382.0), ('401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 42432250, 2251718, 6600.0), ('401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 42574746, 2465640, 4020.0), ('401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 42484246, 2465677, 3960.0)]

In [100]:
# 5

In [102]:
import sqlite3

conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query = """
SELECT t.start_location_name,
       t.end_location_name,
       t.vehicle_id,
       t.trip_id,
       t.duration
FROM trip t
JOIN (
    SELECT start_location_name,
           end_location_name,
           MAX(duration) AS max_dur
    FROM trip
    GROUP BY start_location_name, end_location_name
) m
ON t.start_location_name = m.start_location_name
AND t.end_location_name = m.end_location_name
AND t.duration = m.max_dur
LIMIT 5;
"""

cursor.execute(query)
print(cursor.fetchall())
conn.close()

[('1901 Roma Ave NE, Albuquerque, NM 87106, USA', '1899 Roma Ave NE, Albuquerque, NM 87106, USA', 9424537, 1613335, '0:07:03'), ('1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1111 Stanford Dr NE, Albuquerque, NM 87106, USA', 9424537, 1613639, '0:04:57'), ('1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', '1 Domenici Center en Domenici Center, Albuquerque, NM 87106, USA', 9424537, 1613708, '0:01:14'), ('Rotunda at Science & Technology Park, 801 University Blvd. SE, 801 University Blvd SE, Albuquerque, NM 87106, USA', '725 University Blvd SE, Albuquerque, NM 87106, USA', 9424537, 1613867, '0:06:58'), ('520 Central Ave SW, Albuquerque, NM 87102, USA', '3217 Pershing Ave SE, Albuquerque, NM 87106, USA', 3902020, 1636780, '0:21:27')]

In [104]:
# 6

In [106]:
# Some start–end pairs have very short consistent durations; others show long outliers.

# May trips often have higher durations, possibly due to traffic or demand.

# Certain vehicles appear frequently for longest trips, hinting at assignment to high-distance or high-demand routes.

In [108]:
# 7

In [ ]:
# Shortest, longest, average durations → fully in SQL.

# Month parsing, median, and outlier detection → easier in Python due to custom string formats and statistical calculations.

# SUMMATIVE ASSESSMENT

In [10]:
"""
This is a stub for COMP63301 Coursework 02.
Do not edit or delete any lines given in this file that are marked with a "(s)".
(you can move them to different lines as long as you do not change the overall structure)

Only the SQLite3 package should be imported for testing purposes; refrain from importing any other packages.

Use the test zone at the bottom of this stub to test your code locally.

Place your code below the comments marked "#Your code here" and before the next method.

Each method is documented to explain what functionality is to be placed within.

NOTE: You can create as many more methods as you need. However, you need to add 
self as a parameter of the new method and to call it with the prefix self.name 

EXAMPLE:

    def clean(self,result):
        cleaned = [item[0] for item in result]
        return cleaned

"""

class Tours:#(s)
 
    # ---Section 1 --- #
 
    #(Question 1)
    def replace_NaN_with_stop(self,conn):#(s)
        """
                a.	Identify all missing values in the end_location_name column, 
                        saving the trip_id associated with the first 10 rows with a missing value for end_location_name.

                b.	Replace each missing entry using each of the three strategies described above, 
                        one-at-a-time. You will need to restore each of the rows that had the value of end_location_name filled to its state, 
                        before its end_location_name value was filled (i.e., a missing end_location_name), before applying the next strategy.

                c.	For each strategy and for each of the first 10 replacements, 
                        compute and return the total number of occurrences of the associated, new, pair <start_location_name, end_location_name>.
                    
                Returns: List: [('trip_id', 'start_location_name', 'end_location_name', 'pair_count'), (263511, '80 Whitworth BM, Albuquerque, NY 87888, ILD', '898 Mountain Rd NW, Albuquerque, NM 87104, USA', 3) , (333333, '71 Whitworth NW, Albuquerque, NM 16161, USA', 'Stop St.', 3), .....]
        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("SELECT trip_id, start_location_name, end_location_name FROM trip WHERE end_location_name is NULL OR end_location_name = '' LIMIT 10;")
        null_rows_10 = cursor.fetchall()
        first_10_ids = [row[0] for row in null_rows_10]
        og_rows = {row[0]:row[2] for row in null_rows_10}

        result = []

        cursor.execute("SELECT trip_id FROM trip WHERE end_location_name IS NULL OR end_location_name = '';")
        all_missing_ids = [row[0] for row in cursor.fetchall()]
        
        # i
        for trip_id in all_missing_ids:
            cursor.execute("UPDATE trip SET end_location_name = 'Stop St.' WHERE trip_id = ?;", (trip_id,))
        conn.commit()    

        for trip_id, start, end in null_rows_10:
            cursor.execute("SELECT COUNT(*) FROM trip WHERE start_location_name = ? AND end_location_name = 'Stop St.';", (start,))
            count = cursor.fetchone()[0]
            result.append((trip_id, start, 'Stop St.', count))

        for trip_id in all_missing_ids:
            cursor.execute("UPDATE trip SET end_location_name = '' WHERE trip_id = ?;", (trip_id,))
        conn.commit()

        # ii
        cursor.execute("SELECT end_location_name FROM trip WHERE end_location_name IS NOT NULL AND end_location_name != '' GROUP BY end_location_name ORDER BY COUNT(*) DESC LIMIT 1;")
        freq = cursor.fetchone()[0]

        for trip_id in all_missing_ids:
            cursor.execute("UPDATE trip SET end_location_name = ? WHERE trip_id = ?;", (freq,trip_id))
        conn.commit()

        for trip_id, start, end in null_rows_10:
            cursor.execute("SELECT COUNT(*) FROM trip WHERE start_location_name = ? AND end_location_name = ?;", (start,freq))
            count = cursor.fetchone()[0]
            result.append((trip_id, start, freq, count))
            
        for trip_id in all_missing_ids:
            cursor.execute("UPDATE trip SET end_location_name = '' WHERE trip_id = ?;", (trip_id,))
        conn.commit()

        # iii
        for trip_id, start, end in null_rows_10:
            replace = start if start not in (None, '') else freq
            cursor.execute("UPDATE trip SET end_location_name = ? WHERE trip_id = ?;", (replace,trip_id))
        conn.commit()

        for trip_id in set(all_missing_ids) - set(first_10_ids):
            cursor.execute("""
                SELECT start_location_name 
                FROM trip 
                WHERE trip_id = ?;
            """, (trip_id,))
            start_value = cursor.fetchone()[0]
            replace_value = start_value if start_value not in (None, '') else freq
            cursor.execute("UPDATE trip SET end_location_name = ? WHERE trip_id = ?;", (replace_value, trip_id))
            
        conn.commit()

        for trip_id, start, end in null_rows_10:
            replace = start if start not in (None, '') else freq
            cursor.execute("SELECT COUNT(*) FROM trip WHERE start_location_name = ? AND end_location_name = ?;", (start, replace))
            count = cursor.fetchone()[0]
            result.append((trip_id, start, replace, count))

        # return
        return [('trip_id','start_location_name','end_location_name', 'pair_count')] + result
        
        pass

    #(Question 2)
    def replace_NaN_with_start(self,conn):#(s)
        """
                a.	Identify all missing values in the start_location_name column, saving the trip_id associated with the first 6 rows with a missing value for start_location_name.

                b.	Replace each missing entry with the most frequent start_location_name value in the table.

                c.	For each of the first 6 replacements, compute and return the total number of occurrences of the associated, new, pair <start_location_name, end_location_name>
        
                Returns: List: [['trip_id', 'start_location_name', 'end_location_name', 'pair_count'], (555555, '80 Whitworth BM, Albuquerque, NY 87888, ILD', '898 Mountain Rd NW, Albuquerque, NM 87104, USA', 3) , (333333, '71 Whitworth NW, Albuquerque, NM 123123, USA', 'Stop St.', 3), .....]
        """
        cursor = conn.cursor()#(s)
        #Your code here
        result = []
        
        cursor.execute("SELECT trip_id, start_location_name, end_location_name FROM trip WHERE start_location_name is NULL OR start_location_name = '' LIMIT 6;")
        null_rows = cursor.fetchall()

        cursor.execute("SELECT start_location_name FROM trip WHERE start_location_name IS NOT NULL AND start_location_name != '' GROUP BY start_location_name ORDER BY COUNT(*) DESC LIMIT 1;")
        freq = cursor.fetchone()[0]

        for trip_id, start, end in null_rows:
            cursor.execute("UPDATE trip SET start_location_name = ? WHERE trip_id = ?;", (freq,trip_id))
        conn.commit()

        for trip_id, start, end in null_rows:
            cursor.execute("SELECT COUNT(*) FROM trip WHERE start_location_name = ? AND end_location_name = ?;", (freq,end))
            count = cursor.fetchone()[0]
            result.append((trip_id, freq, end, count))
        
        return [['trip_id','start_location_name','end_location_name', 'pair_count']] + result

        pass

    #(Question 3)
    def column_name_change(self,conn):#(s)
        """
            Standardise the naming convention of the DURATION column to align with typical lowercase formatting used in data schemas,
            by having this column name replaced with duration. Once the standardisation is performed, return the new column name and the first 5 values in this column.
          
            Returns: List: (['duration'], ['h:mm:ss', 'h:mm:ss', 'h:mm:ss', 'h:mm:ss', 'h:mm:ss'])
        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("ALTER TABLE trip RENAME COLUMN DURATION TO duration;")
        conn.commit()

        cursor.execute("SELECT duration FROM trip LIMIT 5;")
        result = [row[0] for row in cursor.fetchall()]

        return (['duration'],result)
        
        pass
        

    #(Question 4)
    def normalize(self,conn):#(s)
        """
            Normalize the values in the month column so that all entries are in lowercase (i.e., june), regardless of their original format.
            Once the normalisation is performed, return, for only the following columns, the first 5 data values. 
            Note that the column names should appear in the results: month, trip_id, duration. 
            
            Returns: List: (['month', 'trip_id', 'duration'], [('month', 1613335, 'h:mm:ss'), ('month', 1613639, 'h:mm:ss'), ('month', 1613708, 'h:mm:ss'), ('month', 1613867, 'h:mm:ss'), ('month', 1636714, 'h:mm:ss')])

        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("UPDATE trip set month = LOWER(month);")
        conn.commit()

        cursor.execute("SELECT month, trip_id, duration FROM trip LIMIT 5;")
        result = cursor.fetchall()

        return (['month','trip_id','duration'], result)
        
        pass
      
    #(Question 5)
    def trip_duration(self,conn):#(s)
        """
            For entries in the duration column that are missing, derive the appropriate values using the started_at and ended_at columns. 
            Ensure these columns are in a format that supports datetime operations. Once the missing values are filled with the derived values, 
            return count of Nan values in column duration, as well as the data values in columns trip_id and duration for ONLY the rows with 
            the following trip_id values: 1821126, 1821158, 1821204, 1821289, 2047623. Make sure that the column names appear in the results.
         
            Returns: List: (NaN_count, ['trip_id', 'duration'], [(1821126, 'h:mm:ss'), (1821158, 'h:mm:ss'), (1821204, 'h:mm:ss'), (1821289, 'h:mm:ss'), (2047623, 'h:mm:ss')])
        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("""
            UPDATE trip
            SET duration = printf(
                '%d:%02d:%02d',
                (
                    (
                        (
                            -- minutes difference from time of day
                            ((CAST(substr(ended_at, instr(ended_at, ' ') + 1, instr(substr(ended_at, instr(ended_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                            + CAST(substr(ended_at, instr(ended_at, ':') + 1) AS INTEGER))
                            -
                            ((CAST(substr(started_at, instr(started_at, ' ') + 1, instr(substr(started_at, instr(started_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                            + CAST(substr(started_at, instr(started_at, ':') + 1) AS INTEGER))
                        )
                        +
                        -- Add difference in days × 1440 minutes
                        ((CAST(substr(ended_at, instr(ended_at, '/') + 1, instr(substr(ended_at, instr(ended_at, '/') + 1), '/') - 1) AS INTEGER)
                          - CAST(substr(started_at, instr(started_at, '/') + 1, instr(substr(started_at, instr(started_at, '/') + 1), '/') - 1) AS INTEGER))
                          * 1440)
                    ) / 60
                ),
                (
                    (
                        (
                            ((CAST(substr(ended_at, instr(ended_at, ' ') + 1, instr(substr(ended_at, instr(ended_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                            + CAST(substr(ended_at, instr(ended_at, ':') + 1) AS INTEGER))
                            -
                            ((CAST(substr(started_at, instr(started_at, ' ') + 1, instr(substr(started_at, instr(started_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                            + CAST(substr(started_at, instr(started_at, ':') + 1) AS INTEGER))
                        )
                        +
                        ((CAST(substr(ended_at, instr(ended_at, '/') + 1, instr(substr(ended_at, instr(ended_at, '/') + 1), '/') - 1) AS INTEGER)
                          - CAST(substr(started_at, instr(started_at, '/') + 1, instr(substr(started_at, instr(started_at, '/') + 1), '/') - 1) AS INTEGER))
                          * 1440)
                    ) % 60
                ),
                0
            )
            WHERE duration IS NULL OR duration = '';""")
        conn.commit()
        
        cursor.execute("""
            SELECT COUNT(*) 
            FROM trip 
            WHERE (duration IS NULL OR duration = '') ;
        """)
        count = cursor.fetchone()[0]

        cursor.execute("""
            SELECT trip_id, duration
            FROM trip
            WHERE trip_id IN (1821126, 1821158, 1821204, 1821289, 2047623)
            ORDER BY trip_id
        """)
        
        result = cursor.fetchall()
        
        # Format according to specification
        return (count, ['trip_id', 'duration'], result)
                       
        pass

    #(Question 6)
    def shortest_trip(self,conn):#(s)
        """
            Return the shortest trip duration in the database and the number of distinct 
                <start_location_name, end_location_name> pair(s) associated with this duration value. 

            Returns: List: [('h:mm:ss', distinct_pairs_number)]
        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("""
                SELECT duration
                FROM trip
                WHERE duration IS NOT NULL AND duration != ''
                ORDER BY 
                    CAST(substr(duration, 1, instr(duration, ':') - 1) AS INTEGER) * 3600 +
                    CAST(substr(duration, instr(duration, ':') + 1, instr(substr(duration, instr(duration, ':') + 1), ':') - 1) AS INTEGER) * 60 +
                    CAST(substr(duration, length(duration) - 1, 2) AS INTEGER)
                ASC
                LIMIT 1;
        """)
        
        short_dur = cursor.fetchone()[0]
        
        cursor.execute("""
            SELECT COUNT(DISTINCT start_location_name || '|' || end_location_name)
            FROM trip
            WHERE duration = ?;
        """, (short_dur,))

        uniq = cursor.fetchone()[0]

        return [(short_dur, uniq)]
        pass
        

    #(Question 7)
    def median_duration_trip(self, conn):#(s)
        """
              Return the median trip duration in the database and the number of distinct  <start_location_name, end_location_name> pair(s) associated with this duration value.

            Returns: List: [('h:mm:ss', distinct_pairs_number)]
        """
        cursor = conn.cursor()#(s)
        #Your code here
        cursor.execute("""
            WITH valid_durations AS (
            SELECT 
                duration,
                (CAST(substr(duration, 1, instr(duration, ':') - 1) AS INTEGER) * 3600 +
                 CAST(substr(duration, instr(duration, ':') + 1, instr(substr(duration, instr(duration, ':') + 1), ':') - 1) AS INTEGER) * 60 +
                 CAST(substr(duration, length(duration) - 1, 2) AS INTEGER)
                ) AS total_seconds
            FROM trip
            WHERE duration IS NOT NULL AND TRIM(duration) != ''
        ),
        ordered AS (
            SELECT duration, total_seconds,
                   ROW_NUMBER() OVER (ORDER BY total_seconds) AS rn,
                   COUNT(*) OVER () AS total_count
            FROM valid_durations
        ),
        median_row AS (
            SELECT duration, total_seconds
            FROM ordered
            WHERE rn = CAST((total_count + 1) / 2 AS INTEGER) -- middle row for odd/even
        )
        SELECT 
            median_row.duration,
            COUNT(*)
        FROM median_row
        JOIN trip t ON t.duration = median_row.duration;
        """)
    
        result = cursor.fetchall()
        return result
        pass
 
    #(Question 8)
    def trips_distance_in_miles(self,conn):#(s)
        """

            Using the Haversine formula, based on coordinates in table geocode, calculate the distance in miles between <start_location_name, end_location_name> of the following trip_ids:
            1637299, 1640777, 1652952
          
            Returns: List: [(1637299, distance_in_miles), (1640777, distance_in_miles), (1652952, distance_in_miles)]   
        """
        cursor = conn.cursor()#(s)
        #Your code here
        import math

        # Register math functions with SQLite
        conn.create_function("RADIANS", 1, lambda x: math.radians(x))
        conn.create_function("SIN", 1, lambda x: math.sin(x))
        conn.create_function("COS", 1, lambda x: math.cos(x))
        conn.create_function("ASIN", 1, lambda x: math.asin(x))
        conn.create_function("SQRT", 1, lambda x: math.sqrt(x))
        conn.create_function("POWER", 2, lambda x, y: math.pow(x, y))
        
        cursor.execute("""
            SELECT 
                t.trip_id,
                3959.0 * 2 * ASIN(
                    SQRT(
                        POWER(SIN((RADIANS(g_end.y) - RADIANS(g_start.y)) / 2), 2) +
                        COS(RADIANS(g_start.y)) * COS(RADIANS(g_end.y)) *
                        POWER(SIN((RADIANS(g_end.x) - RADIANS(g_start.x)) / 2), 2)
                    )
                )
            FROM trip t
            JOIN location l_start ON t.start_location_name = l_start.location_name
            JOIN geocode g_start ON l_start.geocode_id = g_start.geocode_id
            JOIN location l_end ON t.end_location_name = l_end.location_name
            JOIN geocode g_end ON l_end.geocode_id = g_end.geocode_id
            WHERE t.trip_id IN (1637299, 1640777, 1652952)
            ORDER BY t.trip_id;
        """)
        
        result = cursor.fetchall()
        return result
        
        pass

# ---Test Zone --- #

"""
Remove the comments below to test your solution locally. Once the solution is finalised, reapply the comments as they are currently.
"""

import sqlite3

if __name__ == '__main__':

    #You can place any ad-hoc testing here 
    conn = sqlite3.connect("coursework2.db")
    my_instance = Tours()
    print("Question 1")
    print(my_instance.replace_NaN_with_stop(conn))
    print("Question 2")
    print(my_instance.replace_NaN_with_start(conn))
    print("Question 3")
    print(my_instance.column_name_change(conn))
    print("Question 4")
    print(my_instance.normalize(conn))
    print("Question 5")
    print(my_instance.trip_duration(conn))
    print("Question 6")
    print(my_instance.shortest_trip(conn))
    print("Question 7")
    print(my_instance.median_duration_trip(conn))
    print("Question 8")
    print(my_instance.trips_distance_in_miles(conn))
    conn.close()  # Close the connection when done

Question 1
[('trip_id', 'start_location_name', 'end_location_name', 'pair_count'), (1642257, '1 Civic Plaza NW, Albuquerque, NM 87102, USA', 'Stop St.', 3), (1645533, '401 2nd St NW, Albuquerque, NM 87102, USA', 'Stop St.', 42), (1646720, '117 Bryn Mawr Dr SE, Albuquerque, NM 87106, USA', 'Stop St.', 17), (1646758, '200 3rd St NW, Albuquerque, NM 87102, USA', 'Stop St.', 14), (1647600, '407 Central Ave NW, Albuquerque, NM 87102, USA', 'Stop St.', 1), (1654488, '2500 Central Ave SE, Albuquerque, NM 87106, USA', 'Stop St.', 21), (1656578, '306 Tijeras Ave NE, Albuquerque, NM 87102, USA', 'Stop St.', 1), (1671374, '3339 Central Ave NE, Albuquerque, NM 87106, USA', 'Stop St.', 7), (1674630, '330 Tijeras Ave NW, Albuquerque, NM 87102, USA', 'Stop St.', 41), (1676666, '16 Ash St SE, Albuquerque, NM 87106, USA', 'Stop St.', 1), (1642257, '1 Civic Plaza NW, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 3), (1645533, '401 2nd St NW, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 52), (1646720, '117 Bryn Mawr Dr SE, Albuquerque, NM 87106, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 20), (1646758, '200 3rd St NW, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 14), (1647600, '407 Central Ave NW, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 1), (1654488, '2500 Central Ave SE, Albuquerque, NM 87106, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 23), (1656578, '306 Tijeras Ave NE, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 1), (1671374, '3339 Central Ave NE, Albuquerque, NM 87106, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 7), (1674630, '330 Tijeras Ave NW, Albuquerque, NM 87102, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 41), (1676666, '16 Ash St SE, Albuquerque, NM 87106, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 1), (1642257, '1 Civic Plaza NW, Albuquerque, NM 87102, USA', '1 Civic Plaza NW, Albuquerque, NM 87102, USA', 19), (1645533, '401 2nd St NW, Albuquerque, NM 87102, USA', '401 2nd St NW, Albuquerque, NM 87102, USA', 136), (1646720, '117 Bryn Mawr Dr SE, Albuquerque, NM 87106, USA', '117 Bryn Mawr Dr SE, Albuquerque, NM 87106, USA', 76), (1646758, '200 3rd St NW, Albuquerque, NM 87102, USA', '200 3rd St NW, Albuquerque, NM 87102, USA', 32), (1647600, '407 Central Ave NW, Albuquerque, NM 87102, USA', '407 Central Ave NW, Albuquerque, NM 87102, USA', 1), (1654488, '2500 Central Ave SE, Albuquerque, NM 87106, USA', '2500 Central Ave SE, Albuquerque, NM 87106, USA', 90), (1656578, '306 Tijeras Ave NE, Albuquerque, NM 87102, USA', '306 Tijeras Ave NE, Albuquerque, NM 87102, USA', 1), (1671374, '3339 Central Ave NE, Albuquerque, NM 87106, USA', '3339 Central Ave NE, Albuquerque, NM 87106, USA', 27), (1674630, '330 Tijeras Ave NW, Albuquerque, NM 87102, USA', '330 Tijeras Ave NW, Albuquerque, NM 87102, USA', 199), (1676666, '16 Ash St SE, Albuquerque, NM 87106, USA', '16 Ash St SE, Albuquerque, NM 87106, USA', 1)]
Question 2
[['trip_id', 'start_location_name', 'end_location_name', 'pair_count'], (2199535, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589), (2199602, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589), (2199615, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589), (2199795, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589), (2200180, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589), (2200193, '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', '1898 Mountain Rd NW, Albuquerque, NM 87104, USA', 589)]
Question 3
(['duration'], ['0:07:03', '0:04:57', '0:01:14', '0:06:58', '0:03:06'])
Question 4
(['month', 'trip_id', 'duration'], [('may', 1613335, '0:07:03'), ('may', 1613639, '0:04:57'), ('may', 1613708, '0:01:14'), ('may', 1613867, '0:06:58'), ('may', 1636714, '0:03:06')])
Question 5
(0, ['trip_id', 'duration'], [(1821126, '0:25:00'), (1821158, '0:30:00'), (1821204, '0:15:00'), (1821289, '0:15:00'), (2047623, '0:09:00')])
Question 6
[('0:00:00', 122)]
Question 7
[('0:13:03', 12)]
Question 8
[(1637299, 1.378186489139928), (1640777, 0.1072389238166891), (1652952, 0.08286457981010646)]

In [ ]:
[(1637299, distance_in_miles), (1640777, distance_in_miles), (1652952, distance_in_miles)]

In [25]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

query_user = "SELECT start_location_name FROM trip where start_location_name = '';"

cursor.execute(query_user)
for row in cursor.fetchall():
    print(row)
    
conn.close()

('',)
('',)
('',)
('',)
('',)
('',)

In [10]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Count number of rows in the trip table
cursor.execute("SELECT COUNT(*) FROM trip;")
row_count = cursor.fetchone()[0]

print("Total rows in trip table:", row_count)

conn.close()

Total rows in trip table: 34226

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Query unique values and their counts
cursor.execute("""
    SELECT end_location_name, COUNT(*) as count
    FROM trip
    GROUP BY start_location_name
    ORDER BY count DESC;  -- optional: sort by frequency
""")

rows = cursor.fetchall()

for end_location, count in rows:
    print(f"{end_location}: {count}")

conn.close()

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# ✅ Update duration using SQL arithmetic only (no built-in datetime functions)
cursor.execute("""
    UPDATE trip
                SET duration = printf(
                    '%d:%02d:%02d',
                    (
                        (
                            (
                                -- minutes difference from time of day
                                ((CAST(substr(ended_at, instr(ended_at, ' ') + 1, instr(substr(ended_at, instr(ended_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                                + CAST(substr(ended_at, instr(ended_at, ':') + 1) AS INTEGER))
                                -
                                ((CAST(substr(started_at, instr(started_at, ' ') + 1, instr(substr(started_at, instr(started_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                                + CAST(substr(started_at, instr(started_at, ':') + 1) AS INTEGER))
                            )
                            +
                            -- Add difference in days × 1440 minutes
                            ((CAST(substr(ended_at, instr(ended_at, '/') + 1, instr(substr(ended_at, instr(ended_at, '/') + 1), '/') - 1) AS INTEGER)
                              - CAST(substr(started_at, instr(started_at, '/') + 1, instr(substr(started_at, instr(started_at, '/') + 1), '/') - 1) AS INTEGER))
                              * 1440)
                        ) / 60
                    ),
                    (
                        (
                            (
                                ((CAST(substr(ended_at, instr(ended_at, ' ') + 1, instr(substr(ended_at, instr(ended_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                                + CAST(substr(ended_at, instr(ended_at, ':') + 1) AS INTEGER))
                                -
                                ((CAST(substr(started_at, instr(started_at, ' ') + 1, instr(substr(started_at, instr(started_at, ' ') + 1), ':') - 1) AS INTEGER) * 60)
                                + CAST(substr(started_at, instr(started_at, ':') + 1) AS INTEGER))
                            )
                            +
                            ((CAST(substr(ended_at, instr(ended_at, '/') + 1, instr(substr(ended_at, instr(ended_at, '/') + 1), '/') - 1) AS INTEGER)
                              - CAST(substr(started_at, instr(started_at, '/') + 1, instr(substr(started_at, instr(started_at, '/') + 1), '/') - 1) AS INTEGER))
                              * 1440)
                        ) % 60
                    ),
                    0
                )
                WHERE duration IS NULL OR duration = '';
    """)

conn.commit()

# ✅ Define trip IDs to verify
trip_ids = (1821126, 1821158, 1821204, 1821289, 2047623)

# ✅ Fetch updated results
cursor.execute(f"""
    SELECT trip_id, started_at, ended_at, duration
    FROM trip
    WHERE trip_id IN ({','.join('?'*len(trip_ids))});
""", trip_ids)

rows = cursor.fetchall()

# ✅ Print results
for row in rows:
    print(row)

conn.close()

(1821126, '6/7/2019 2:17', '6/7/2019 2:42', '0:25:00')
(1821158, '6/7/2019 2:20', '6/7/2019 2:50', '0:30:00')
(1821204, '6/7/2019 2:23', '6/7/2019 2:38', '0:15:00')
(1821289, '6/7/2019 2:30', '6/7/2019 2:45', '0:15:00')
(2047623, '6/23/2019 23:59', '6/24/2019 0:08', '0:09:00')

In [ ]:
(1821126, '6/7/2019 2:17', '6/7/2019 2:42', '0:25:00')
(1821158, '6/7/2019 2:20', '6/7/2019 2:50', '0:30:00')
(1821204, '6/7/2019 2:23', '6/7/2019 2:38', '0:15:00')
(1821289, '6/7/2019 2:30', '6/7/2019 2:45', '0:15:00')
(2047623, '6/23/2019 23:59', '6/24/2019 0:08', '0:09:00')

In [19]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# ✅ Define trip IDs to verify
trip_ids = (1821126, 1821158, 1821204, 1821289, 2047623)

# ✅ Fetch updated results
cursor.execute(f"""
    SELECT trip_id, started_at, ended_at, duration
    FROM trip
    WHERE trip_id IN ({','.join('?'*len(trip_ids))});
""", trip_ids)

rows = cursor.fetchall()

# ✅ Print results
for row in rows:
    print(row)

conn.close()

(1821126, '6/7/2019 2:17', '6/7/2019 2:42', '')
(1821158, '6/7/2019 2:20', '6/7/2019 2:50', '')
(1821204, '6/7/2019 2:23', '6/7/2019 2:38', '')
(1821289, '6/7/2019 2:30', '6/7/2019 2:45', '')
(2047623, '6/23/2019 23:59', '6/24/2019 0:08', '')

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

cursor.execute("""
        SELECT duration
        FROM trip
        WHERE duration IS NOT NULL AND duration != ''
        ORDER BY 
            CAST(substr(duration, 1, instr(duration, ':') - 1) AS INTEGER) * 3600 +
            CAST(substr(duration, instr(duration, ':') + 1, instr(substr(duration, instr(duration, ':') + 1), ':') - 1) AS INTEGER) * 60 +
            CAST(substr(duration, length(duration) - 1, 2) AS INTEGER)
        ASC
        LIMIT 1;
    """)

result = cursor.fetchone()

if result:
    print("Shortest trip duration recorded in the database:", result[0])
else:
    print("No valid duration records found.")

conn.close()

Shortest trip duration recorded in the database: 0:00:00

In [50]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Count durations equal to '00:00:00'
cursor.execute("SELECT COUNT(*) FROM trip WHERE duration = '0:00:00';")
count = cursor.fetchone()[0]

print("Number of trips with duration = '0:00:00':", count)

conn.close()

Number of trips with duration = '0:00:00': 144

In [15]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# ✅ Count missing durations excluding '00:00:00'
cursor.execute("""
    SELECT COUNT(*)
    FROM trip
    WHERE (duration IS NULL OR duration = '')
      AND (duration != '00:00:00');
""")
missing_count = cursor.fetchone()[0]

print(f"Number of missing duration values (excluding '00:00:00'): {missing_count}")

# ✅ Fetch rows with missing duration values
cursor.execute("""
    SELECT trip_id, started_at, ended_at
    FROM trip
    WHERE (duration IS NULL OR duration = '')
      AND (duration != '00:00:00');
""")
rows = cursor.fetchall()

print("\nTrips with missing durations:")
for row in rows:
    print(row)

conn.close()

In [30]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT
      SUM(CASE WHEN end_location_name IS NULL THEN 1 ELSE 0 END) AS null_count,
      SUM(CASE WHEN end_location_name = '' THEN 1 ELSE 0 END) AS empty_string_count,
      COUNT(*) AS total_rows
    FROM trip;
""")

null_count, empty_count, total_rows = cursor.fetchone()
print(f"NULL values: {null_count}")
print(f"Empty strings: {empty_count}")
print(f"Total rows: {total_rows}")


conn.close()

NULL values: 0
Empty strings: 2070
Total rows: 34226

In [8]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()

# Count NULLs and empty strings in end_location_name
cursor.execute("""
    SELECT
      SUM(CASE WHEN end_location_name IS NULL THEN 1 ELSE 0 END) AS null_count,
      SUM(CASE WHEN end_location_name = '' THEN 1 ELSE 0 END) AS empty_string_count,
      COUNT(*) AS total_rows
    FROM trip;
""")
null_count, empty_count, total_rows = cursor.fetchone()
print(f"NULL values: {null_count}")
print(f"Empty strings: {empty_count}")
print(f"Total rows: {total_rows}")

# Most frequent start_location_name
cursor.execute("""
    SELECT start_location_name, COUNT(*) AS cnt
    FROM trip
    WHERE start_location_name IS NOT NULL AND start_location_name != ''
    GROUP BY start_location_name
    ORDER BY cnt DESC
    LIMIT 1;
""")
most_freq_start, start_count = cursor.fetchone()
print(f"Most frequent start_location_name: {most_freq_start} (count: {start_count})")

# Most frequent end_location_name
cursor.execute("""
    SELECT end_location_name, COUNT(*) AS cnt
    FROM trip
    WHERE end_location_name IS NOT NULL AND end_location_name != ''
    GROUP BY end_location_name
    ORDER BY cnt DESC
    LIMIT 1;
""")
most_freq_end, end_count = cursor.fetchone()
print(f"Most frequent end_location_name: {most_freq_end} (count: {end_count})")

conn.close()

NULL values: 0
Empty strings: 2070
Total rows: 34226
Most frequent start_location_name: 1898 Mountain Rd NW, Albuquerque, NM 87104, USA (count: 1210)
Most frequent end_location_name: 1898 Mountain Rd NW, Albuquerque, NM 87104, USA (count: 802)

In [ ]:
NULL values: 0
Empty strings: 0
Total rows: 34226
Most frequent start_location_name: 1898 Mountain Rd NW, Albuquerque, NM 87104, USA (count: 1216)
Most frequent end_location_name: 1898 Mountain Rd NW, Albuquerque, NM 87104, USA (count: 880)

In [32]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('coursework2.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT
      SUM(CASE WHEN start_location_name IS NULL THEN 1 ELSE 0 END) AS null_count,
      SUM(CASE WHEN start_location_name = '' THEN 1 ELSE 0 END) AS empty_string_count,
      COUNT(*) AS total_rows
    FROM trip;
""")

null_count, empty_count, total_rows = cursor.fetchone()
print(f"NULL values: {null_count}")
print(f"Empty strings: {empty_count}")
print(f"Total rows: {total_rows}")


conn.close()

NULL values: 0
Empty strings: 6
Total rows: 34226